/230111104
/ACM-GNN
/CLGNN2
/CLGNN2-PPI
/CLGNN2-transductive
/DDPM-fully-supervised
/DDPM-inductive
/DDPM-inductive2
/DDPM-linkprediction
/DDPM-reasoning
/DDPM-reasoning2
/DDPM-semi-supervised
/DDPM-transductive
/DDPM-transductive-hetero
/DDPM-transductive2
/DPM-GSP
/GMNN
/GRAND
/SPN2
/irem_code_release-master